.quadrado  {
    color: green;
    border: 3px solid green;
    background-color: black;
    text-align: center;
    width: 100px;
    height: 100px;
    margin: 20px;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.quadrado2  {
    right: 0px;
    bottom: 0px;
}
.quadrado3  {
    left: 0px;
    bottom: 0px;
    
}
.quadrado4  {
    right: 0px;
    top: 0px;
    
}